# --- Betriebssystem ---
.DS_Store

# --- Python Cache ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments ---
.venv/
venv/
env/

# --- Streamlit ---
.streamlit/

# --- Jupyter Notebook Checkpoints ---
.ipynb_checkpoints/

# --- Logs ---
*.log

# --- VS Code ---
.vscode/
